extends ../layout
block content 
  .sideNav
    a(href='/books')
      .sideNavBooks.active
        img.sidecon(src='/images/icon.png')
        p books
    a(href='/authors')
      .sideNavAuthors
        img.sidecon(src='/images/icon.png')
        p authors
  .pageCont
    .add
      a(href='/books/new')
        h3 + Add a new Book
    each book, index in books
      .book
        a(href='/books/' + book.id)
          .bookImg
            img(src=book.cover)
          .bookInfo
            .buttons
              a(href='/books/' + book.id + '/edit')
                img(src='/images/pencil.png')
              a(href='/books/' + book.id + '/delete')
                img(src='/images/delete.png')
            h3 #{book.title}
            p #{book.genre}
              each author in authors
                if book.id == author.bookId
                  a(href='/authors/#{author.id}')
                    p #{author.firstName} #{author.lastName}
            p #{book.description}
        
